# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy / Pyright / Pylint
.mypy_cache/
.pyright/
pylint-report.txt

# Logs
*.log

# VSCode settings
.vscode/

# JetBrains IDE (PyCharm)
.idea/

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db

# Backup files
*~
*.bak

# Ignore model/data output
*.h5
*.pt
*.pkl
*.onnx
output/
checkpoints/
logs/
Development_Program/__pycache__/param_settings.cpython-310.pyc
/Development_Program/out_Section_Images
/Dataset/liverun_outdoor_VDO_Day/Original
/Dataset/liverun_outdoor_VDO_Night_2/Original
/Development_Program/out_Section_Images
